body{
    font-family: 'Teko', sans-serif;
    display: flexbox;
    background-color: #050517;
    color: white;
    /* text-align: center; */
    
}
h1 {
    text-align: center;
}
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

#charac-img {
    width: 300px;
    height: 300px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

/* img {
    width: 300px;
    height: 300px;
    transition: all .2s ease-in-out;
    cursor: pointer;
} */

#charac-img:hover {
  transform: scale(1.1);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 60px;
    height: 40px;

}

#top-section {
    background-color: #400406;
    border-radius: 10px;
    padding: 2%;
}
#mid-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#all-legends{
display: flex;
width: 100vw;
flex-wrap: wrap;
}

.character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}